<section ng-controller="ProjectDetailsController as vm">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-3" animate="fadeInLeft">
                <img src="{{vm.project.mainImageUrl}}" width="250" height="250" alt="{{vm.project.name}}" />
                <div class="text-center" style="padding-right: 10px;">
                    <br />
                    <i class="fa fa-eye" style="margin-right: 5px;"></i><span style="margin-right: 20px;">{{vm.project.visits}}</span><button class="btn btn-xs btn-success" style="margin-left: 20px;"><i class="fa fa-thumbs-up"></i>Like ({{vm.project.likes}})</button>
                </div>
            </div>
            <div class="col-md-7" animate="fadeInRight">
                <h2 style="margin-bottom: 0">{{vm.project.name}}</h2>
                <span class="glyphicon glyphicon-time" style="margin-right: 5px;"></span><span style="margin-right: 10px;">{{vm.project.shortDate}}</span> |
                <i class="fa fa-code" style="margin-right: 5px;"></i><a href="{{vm.project.repositoryUrl}}">repository </a> | <i class="fa fa-external-link-square" style="margin-right: 5px;"></i><a href="{{vm.project.liveDemoUrl}}" target="_blank"> live demo</a><br />
                <p style="margin-top: 15px;">
                    {{vm.project.content}}
                </p>
                <span ng-repeat="collaborator in vm.project.collaborators">
                    <a href="/users/{{collaborator}}" style="margin-bottom: 2px; margin-right: 5px;">{{collaborator}}</a>
                </span>
                <br />
                <br />
                <a href="#" ng-repeat="tag in vm.project.tags">
                    <span class="label label-default" style="background-color: {{tag.backgroundColor}}; color: {{tag.foregroundColor}}">{{tag.name}}</span>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <div owl-carousel />
            </div>
        </div>
    </div>
</section>