<section ng-controller="ProjectDetailsController as vm">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-3" animate="fadeInLeft" data-animation-delay="200">
                <img src="{{vm.project.mainImageUrl}}" width="250" height="250" alt="{{vm.project.name}}" />
                <div class="text-center padding-right-10" animate="fadeIn" data-animation-delay="1500">
                    <br />
                    <i class="fa fa-eye margin-right-5"></i><span class="margin-right-5">{{vm.project.visits}}</span>
                    <i class="fa fa-comments margin-right-5"></i><span class="margin-right-5">{{vm.project.comments}}</span>
                    <button class="btn btn-xs margin-left-5" ng-class="vm.isLiked ? 'btn-warning' : 'btn-success'" ng-click="vm.isLiked ? vm.dislikeProject(vm.project.id) : vm.likeProject(vm.project.id)">
                        <i ng-class="vm.isLiked ? 'fa fa-thumbs-down' : 'fa fa-thumbs-up'"></i>{{vm.isLiked ? 'Dislike' : 'Like'}} ({{vm.likes}})
                    </button>
                    <button class="btn btn-xs margin-left-10" data-toggle="tooltip" data-placement="right" title="Flag projects with unappropriate content. Projects flagged by enough users will be hidden." ng-class="vm.isFlagged ? 'btn-danger' : 'btn-success'" ng-click="vm.isFlagged ? vm.unflagProject(vm.project.id) : vm.flagProject(vm.project.id)">
                        <i ng-class="vm.isFlagged ? 'fa fa-flag-o' : 'fa fa-flag'"></i>{{vm.isFlagged ? 'Unflag' : 'Flag'}}
                    </button>
                </div>
            </div>
            <div class="col-md-7 margin-bottom-10" animate="fadeInRight" data-animation-delay="200">
                <h2 class="nomargin-bottom">{{vm.project.name}}</h2>
                <div animate="fadeIn" data-animation-delay="1000">
                    <i class="fa fa-clock-o margin-right-5"></i><span class="margin-right-10 font-size-085em">{{vm.project.shortDate}}</span> |
                    <i class="fa fa-code margin-right-5 margin-left-10"></i><a href="{{vm.project.repositoryUrl}}" target="_blank" class="margin-right-10">repository</a> |
                    <i class="fa fa-external-link-square margin-right-5 margin-left-10"></i><a href="{{vm.project.liveDemoUrl}}" target="_blank">live demo</a>
                    <div class="pull-right">
                        <a href="#" class="btn btn-sm ico-only rounded btn-facebook" ng-click="vm.popup('http://www.facebook.com/sharer.php?u=', 'Facebook Share', 600, 500)">
                            <i class="fa fa-facebook"></i>
                        </a>
                        <a href="#" class="btn btn-sm ico-only rounded btn-twitter" ng-click="vm.popup('http://twitter.com/share?url=', 'Twitter Share', 600, 500, 'Check out my project ', 'telerikacademy')">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <a href="#" class="btn btn-sm ico-only rounded btn-google-plus" ng-click="vm.popup('https://plus.google.com/share?url=', 'Google+ Share', 600, 500)">
                            <i class="fa fa-google-plus"></i>
                        </a>
                    </div>
                </div>
                <p class="text-justify margin-top-15">
                    {{vm.project.content}}
                </p>
                <span ng-repeat="collaborator in vm.project.collaborators">
                    <a href="/users/{{collaborator}}" class="margin-right-5 margin-bottom-2">{{collaborator}}</a>
                </span>
                <div class="margin-top-5">
                    <a href="projects/search?$orderby=createdOn&$top=4&$skip=0&$count=true&$filter=tags%2Fany(t:contains(t%2Fname,%27{{tag.name}}%27))" ng-repeat="tag in vm.project.tags">
                        <span class="label label-default" style="background-color: {{tag.backgroundColor}}; color: {{tag.foregroundColor}}">{{tag.name}}</span>
                    </a>
                </div>
            </div>
        </div>

        <div class="row margin-top-20 margin-bottom-30">
            <div class="col-md-offset-1 col-md-10 margin-top-20" animate="fadeInUp" data-animation-delay="200">
                <div owl-carousel images="vm.images" />
            </div>
        </div>
        
        <!--<hr style="width: 80%; margin: 0 auto; opacity: 0.4"  animate="fadeInUp" data-animation-delay="200"/>-->

        <div class="row margin-top-30">
            <div class="col-md-offset-1 col-md-10" animate="fadeInUp" data-animation-delay="200">
                <div ng-show="vm.comments.length > 0" class="row margin-bottom-20" ng-repeat="comment in vm.comments">
                    <div class="col-md-3">
                        <a href="/users/{{comment.username}}">
                            <img src="{{comment.userAvatarUrl}}" class="pull-left " style="margin: 7px; margin-right: 12px;" width="45" height="45" />
                        </a>
                        <div class="margin-top-2">
                            <a href="/users/{{comment.username}}">{{comment.username}}</a><br />
                            <i class="fa fa-clock-o margin-right-5"></i><span class="font-size-075em">{{comment.shortDate}}</span>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <p class="margin-bottom-10 nomargin-top">
                            {{comment.content}}
                        </p>
                    </div>
                </div>
                <div ng-hide="vm.comments.length > 0" class="row">
                    <div class="col-md-offset-3 col-md-9">
                        <h4 class="margin-top-10" style="font-style: italic">There are no comments for this project yet.</h4>
                    </div>
                </div>
                <div class="text-center margin-bottom-20" ng-hide="vm.isLastPage">
                    <a ng-click="vm.loadMoreComments(vm.project.id)">Load More....</a>
                </div>
                <div class="row">
                    <div class="col-md-offset-3 col-md-9">
                        <form class="nomargin nopadding">
                            <textarea rows="8" cols="70" ng-model="vm.commentText" class="padding-left-10 padding-right-10"></textarea>
                            <br />
                            <button class="btn btn-sm btn-success" ng-click="vm.commentProject(vm.project.id)">Comment</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>