<section ng-controller="ProjectDetailsController as vm">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-3" animate="fadeInLeft" data-animation-delay="200">
                <img src="/Images/{{vm.project.mainImageUrl}}_tmbl.jpg" width="250" alt="{{vm.project.name}}" />
                <div class="text-center padding-right-10" animate="fadeIn" data-animation-delay="1500">
                    <br />
                    <i class="fa fa-eye margin-right-5"></i><span class="margin-right-5">{{vm.project.visits}}</span>
                    <i class="fa fa-comments margin-right-5"></i><span class="margin-right-5">{{vm.project.comments}}</span>
                    <button class="btn btn-xs margin-left-5" ng-class="vm.isLiked ? 'btn-warning' : 'btn-success'" ng-click="vm.isLiked ? vm.dislikeProject(vm.project.id) : vm.likeProject(vm.project.id)">
                        <i ng-class="vm.isLiked ? 'fa fa-thumbs-down' : 'fa fa-thumbs-up'"></i>{{vm.isLiked ? 'Dislike' : 'Like'}} ({{vm.likes}})
                    </button>
                    <button class="btn btn-xs margin-left-10" data-toggle="tooltip" data-placement="right" data-original-title="Flag projects with unappropriate content. Projects flagged by enough users will be hidden." ng-class="vm.isFlagged ? 'btn-success' : 'btn-danger'" ng-click="vm.isFlagged ? vm.unflagProject(vm.project.id) : vm.flagProject(vm.project.id)">
                        <i ng-class="vm.isFlagged ? 'fa fa-flag-o' : 'fa fa-flag'"></i>{{vm.isFlagged ? 'Unflag' : 'Flag'}}
                    </button>
                </div>
            </div>
            <div class="col-md-7 margin-bottom-10" animate="fadeInRight" data-animation-delay="200">
                <h2 class="nomargin-bottom break-all">{{vm.project.name}}</h2>
                <div animate="fadeIn" data-animation-delay="1000">
                    <i class="fa fa-clock-o margin-right-5"></i><span class="margin-right-10 font-size-085em">{{vm.project.shortDate}}</span> |
                    <i class="fa fa-code margin-right-5 margin-left-10"></i><a href="{{vm.project.repositoryUrl}}" target="_blank" class="margin-right-10">repository</a>
                    <span ng-show="vm.project.liveDemoUrl.length > 0"> |<i class="fa fa-external-link-square margin-right-5 margin-left-10"></i><a href="{{vm.project.liveDemoUrl}}" target="_blank">live demo</a></span>

                    <div class="pull-right" social-icons popup="vm.popup" name="vm.project.name" />
                </div>
                <hr class="small-horizontal-line" />
                <p class="text-justify margin-top-15 break-all">
                    {{vm.project.description}}
                </p>
                <div>
                    <span ng-repeat="file in vm.project.files">
                        <a href="/Files/{{file.urlPath}}" target="_self" class="margin-right-5 margin-bottom-2"><span class="capital-name">{{file.originalFileName}}</span>.{{file.fileExtension}}</a>
                    </span>
                </div>
                <hr class="small-horizontal-line" />
                <div>
                    <span ng-repeat="collaborator in vm.project.collaborators">
                        <a href="/users/{{collaborator}}" class="margin-right-5 margin-bottom-2">{{collaborator}}</a>
                    </span>
                </div>
                <div class="margin-top-5">
                    <a href="projects/search?tag={{tag.name}}" ng-repeat="tag in vm.project.tags">
                        <span class="label label-default capital-name" style="background-color: #{{tag.backgroundColor}}; color: #{{tag.foregroundColor}}">{{tag.name}}</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="row margin-top-20 margin-bottom-30">
            <div class="col-md-offset-1 col-md-10 margin-top-20" animate="fadeInUp" data-animation-delay="200">
                <div owl-carousel images="vm.images" />
            </div>
        </div>
        <div class="margin-top-30">
            <div animate="fadeInUp" data-animation-delay="200">
                <div project-comments comments="vm.comments" logged-in-username="vm.currentLoggedInUsername" project-id="vm.project.id"/>
            </div>
        </div>
    </div>
</section>