<div ng-show="comments.length > 0" class="row margin-bottom-20" ng-repeat="comment in comments">
    <div class="col-md-3 col-md-offset-1">
        <a href="/users/{{comment.username}}">
            <img ng-src="{{comment.userAvatarUrl}}" class="pull-left user-avatar-comments" width="45" />
        </a>
        <div class="margin-top-2">
            <a href="/users/{{comment.username}}">{{comment.username}}</a><br />
            <i class="fa fa-clock-o margin-right-5"></i><span class="font-size-075em">{{comment.shortDate}}</span>
        </div>
    </div>
    <div class="col-md-7">
        <div class="pull-right">
            <span ng-show="loggedInUsername">
                <input type="button" class="btn btn-xs btn-success margin-left-10" ng-show="comment.isFlagged" value="Unflag" ng-click="unFlagComment(comment.id)" />
                <input type="button" class="btn btn-xs btn-warning margin-left-10" ng-hide="comment.isFlagged" value="Flag" ng-click="flagComment(comment.id)" />
                <input type="button" class="btn btn-xs btn-default margin-left-10" ng-show="comment.username == loggedInUsername && !edittingComments[comment.id]" value="Edit" ng-click="editComment(comment.id)" />
            </span>
        </div>
        <p class="margin-bottom-10 nomargin-top break-word" ng-hide="edittingComments[comment.id]">
            {{comment.content}}
        </p>
        <div ng-show="edittingComments[comment.id]">
            <textarea class="nomargin-bottom form-control padding-left-10 padding-right-10" ng-model="comment.content" cols="80" rows="5"></textarea><br />
            <input type="button" class="btn btn-xs btn-success" ng-click="saveComment(comment.id, comment.content)" value="Save" />
            <input type="button" class="btn btn-xs btn-warning" ng-click="cancelEdit(comment.id)" value="Cancel" />
        </div>
    </div>
</div>

<div class="text-center margin-bottom-20" ng-hide="isLastPage">
    <a ng-click="loadMoreComments()">Load More....</a>
</div>
<div class="row">
    <div class="col-md-offset-4 col-md-7">
        <form class="nomargin nopadding">
            <textarea rows="8" cols="70" ng-model="commentText" class="margin-top-20 padding-left-10 padding-right-10 form-control" placeholder="Your comment goes here"></textarea>
            <br />
            <button class="btn btn-sm btn-success" ng-click="commentProject()">Comment</button>
        </form>
    </div>
</div>