<a href="#" class="btn btn-sm ico-only rounded btn-facebook social-icon" ng-click="popup('http://www.facebook.com/sharer.php?u=', 'Facebook Share', 600, 500)">
    <i class="fa fa-facebook"></i>
</a>
<a href="#" class="btn btn-sm ico-only rounded btn-linkedin social-icon" ng-click="popup('https://www.linkedin.com/shareArticle?mini=true&url=', 'LinkedIn Share', 600, 500)">
    <i class="fa fa-linkedin"></i>
</a>
<a href="#" class="btn btn-sm ico-only rounded btn-twitter social-icon" ng-click="popup('http://twitter.com/share?url=', 'Twitter Share', 600, 500, 'Check out my project ', 'telerikacademy')">
    <i class="fa fa-twitter"></i>
</a>
<a href="#" class="btn btn-sm ico-only rounded btn-google-plus social-icon" ng-click="popup('https://plus.google.com/share?url=', 'Google+ Share', 600, 500)">
    <i class="fa fa-google-plus"></i>
</a>