<div class="sky-form nomargin-bottom">
    <div class="row">
        <div class="col-sm-6">
            <select class="form-control pointer fsize13 pull-right" name="orderby"
                    ng-model="options.orderOption"
                    ng-options="'Order by ' + option.name for option in options.orderOptions"></select>
        </div>
        <div class="col-sm-6" style="padding-top: 4px;">
            <label class="toggle">
                <input type="checkbox" name="checkbox-toggle" checked="" ng-model="options.desc">
                <i></i>
                <span ng-class="options.desc ? 'bold' : ''">Descending</span>
            </label>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <select class="form-control pointer fsize13 pull-right" name="pagesize"
                    ng-model="options.pageSize" ng-options="pageSize + ' items per page' for pageSize in options.pageSizes"></select>
        </div>
        <div class="col-sm-6" style="padding-top: 4px;">
            <label class="toggle">
                <input type="checkbox" name="checkbox-toggle" checked="" ng-model="options.scrolling" ng-change="scrollChecked()">
                <i></i>
                <span ng-class="options.scrolling ? 'bold' : ''">Scrolling</span>
            </label>
        </div>
    </div>
</div>