<div class="sky-form nomargin-bottom">
    <div class="row">
        <div class="col-sm-12">
            <select class="selectpicker form-control margin-bottom-10 picker-button" name="orderby" 
                    ng-model="options.orderOption"
                    ng-options="'Order by ' + option.name for option in options.orderOptions track by option.value" ng-change="search()"></select>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <select class="selectpicker form-control margin-bottom-10 picker-button" name="pagesize" ng-change="search()" 
                    ng-model="options.pageSize" ng-options="pageSize + ' Items per Page' for pageSize in options.pageSizes"></select>
        </div>
    </div>
    <div class="row padding-top-4">
        <div class="col-sm-6 margin-bottom-10">
            <label class="toggle">
                <input type="checkbox" name="checkbox-toggle" checked ng-model="options.desc">
                <i></i>
                <span class="color999 display-inline-block margin-top-2" ng-class="options.desc ? 'bold' : ''">Descending</span>
            </label>
        </div>
        <div class="col-sm-6 margin-bottom-20">
            <label class="toggle">
                <input type="checkbox" ng-click="search()" name="checkbox-toggle" checked="" ng-model="options.scrolling" ng-change="scrollChecked()">
                <i></i>
                <span class="color999 display-inline-block margin-top-2" ng-class="options.scrolling ? 'bold' : ''">Infinite Scroll</span>
            </label>
        </div>
    </div>
</div>