<div class="input-group">
    <div class="input-group-btn">
        <button type="button" class="btn btn-default input-lg dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            Everything <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li class="active">
                <a href="#"><i class="fa fa-check"></i>Everything</a>
            </li>
            <li class="divider"></li>
            <li ng-repeat="term in searchTerms.options" ng-model="searchTerms.selectedOption">
                <a href="#">{{term.name}}</a>
            </li>
        </ul>
    </div>

    <input name="k" class="form-control input-lg" type="text" placeholder="Search...">
    <div class="input-group-btn">
        <button type="submit" class="btn btn-default input-lg"><i class="fa fa-fw fa-search fa-lg"></i></button>
    </div>
</div>

<h6 class="nomargin">
    About {{searchTerms.totalResultsCount}} results <small class="text-success">({{searchTerms.timeElapsed}} seconds) </small>
</h6>