<div modal class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-controller="LoginModalController as vm">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Login with <strong><a href="http://telerikacademy.com" target="_blank">Telerik Academy account</a></strong></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <form name="loginForm" id="login-form">
                        <div class="col-md-6">
                            <input type="text" class="form-control" required="required" placeholder="Username" ng-model="user.username" />
                        </div>
                        <div class="col-md-6">
                            <input type="password" class="form-control" required="required" placeholder="Password" ng-model="user.password" />
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                <button id="login-btn" type="button" class="btn btn-primary pull-right" ng-disabled="loginForm.$invalid" ng-click="vm.login(user)">Login</button>
            </div>
        </div>
    </div>
</div>