<div class="slider">
    <div class="layerslider layer-slider">
        <div ng-repeat="project in projects" class="ls-slide" data-ls="slidedelay:8000;transition2d:75,79;">
            <img src="/Images/{{project.mainImageUrl}}_high.jpg" class="ls-bg" alt="Slide background" />
            <p ng-repeat="collaborator in project.collaborators" class="ls-l layer-slider-project-collaborator" style="top:{{30 + $index * 45}}px;" data-ls="durationin:{{1300 + $index * 350}};delayin:1500;rotatein:20;rotatexin:30;scalexin:1.5;scaleyin:1.5;transformoriginin:left 50% 0;durationout:750;rotateout:20;rotatexout:-30;scalexout:0;scaleyout:0;transformoriginout:left 50% 0;">
                <a href="/users/{{collaborator}}" class="color-white">{{collaborator}}</a>
            </p>
            <p class="ls-l layer-slider-project-title" data-ls="
							offsetxin:-50;
							durationin:2000;
							delayin:300;
							offsetxout:-50;
							durationout:1000;">
                <a href="/projects/{{project.id}}/{{project.titleUrl}}" class="color-white">{{project.name}}</a>
            </p>
        </div>
    </div>
</div>