<div class="statistics row text-center countTo">
    <div class="col-md-3 col-xs-6">
        <span class="boxed radius3">
            <strong class="styleColor" data-to="{{stats.totalProjects}}">0</strong>
            <label>Project<span ng-if="stats.totalProjects !== 1">s</span></label>
        </span>
    </div>
    <div class="col-md-3 col-xs-6">
        <span class="boxed radius3">
            <strong class="styleColor" data-to="{{stats.totalViews}}">0</strong>
            <label>Project View<span ng-if="stats.totalViews !== 1">s</span></label>
        </span>
    </div>
    <div class="col-md-3 col-xs-6">
        <span class="boxed radius3">
            <strong class="styleColor" data-to="{{stats.totalComments}}">0</strong>
            <label>Project Comment<span ng-if="stats.totalComments !== 1">s</span></label>
        </span>
    </div>
    <div class="col-md-3 col-xs-6">
        <span class="boxed radius3">
            <strong class="styleColor" data-to="{{stats.totalLikes}}">0</strong>
            <label>Project Like<span ng-if="stats.totalLikes !== 1">s</span></label>
        </span>
    </div>
</div>
