<div class="row shop-top-options">
    <div class="col-sm-6 col-md-6">
        <h2><strong>Projects</strong> by {{filteroptions.orderby.name}}</h2>
    </div>
    <div class="col-sm-1 col-md-1">
        <input type="checkbox" id="descending" ng-model="filteroptions.desc" />
        <label for="descending">Descending</label>
    </div>
    <div class="col-sm-2 col-md-2">
        <select class="form-control pointer fsize13 pull-right" name="orderby"
                ng-model="filteroptions.orderby" ng-options="'Order by ' + option.name for option in filteroptions.options"></select>
    </div>
    <div class="col-sm-1 col-md-1">
        <select class="form-control pointer fsize13 pull-right" name="pagesize"
                ng-model="filteroptions.pageSize" ng-options="pageSize for pageSize in filteroptions.pageSizes"></select>
    </div>
    <div class="col-sm-1 col-md-1">
        <a href="#" ng-click="search()" class="btn btn-primary btn-lg">Search</a>
    </div>
</div>
