<section>
    <div class="container" animate="fadeIn">
        <h2 class="text-center color999"><i class="fa fa-plus" id="add-icon"></i> <strong>Add</strong> your project</h2>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <form class="sky-form">
                    <fieldset>
                        <section>
                            <label class="label">Title *</label>
                            <label class="input">
                                <i class="icon-append fa fa-question-circle"></i>
                                <input type="text" ng-model="project.title">
                                <b class="tooltip tooltip-top-right">Name of your project</b>
                            </label>
                        </section>

                        <section>
                            <label class="label">Description *</label>
                            <label class="textarea">
                                <i class="icon-append fa fa-question-circle"></i>
                                <textarea rows="5" ng-model="project.description"></textarea>
                                <b class="tooltip tooltip-top-right">Brief narrative of your project</b>
                            </label>
                        </section>

                        <section>
                            <label class="label">Collaborators</label>
                            <label class="input">
                                <input type="text" ng-model="project.collaborators" id="collaborators" token-input data-url="/api/Users/Search" data-query-param="username" data-hint-text="Start typing username and select">
                                <b class="tooltip tooltip-top-right">Select all collaborators in your project (you will be added automatically)</b>
                            </label>
                        </section>

                        <section>
                            <label class="label">Season *</label>
                            <label class="select">
                                <select ng-model="tags.selectedSeason">
                                    <option value="">Select season</option>
                                    <option value="{{option.id}}" ng-repeat="option in vm.seasonTags">{{option.name}}</option>
                                </select>
                                <i></i>
                            </label>
                        </section>

                        <section>
                            <label class="label">Used languages and technologies *</label>
                            <label class="select select-multiple">
                                <select multiple="multiple" ng-model="tags.selectedLanguagesAndTechnologies">
                                    <option value="{{option.id}}" ng-repeat="option in vm.languageAndTechnologyTags">{{option.name}}</option>
                                </select>
                            </label>
                            <div class="note hidden-sm"><strong>Hint:</strong> hold down the ctrl/cmd button to select multiple options</div>
                        </section>

                        <section>
                            <label class="label">Tags *</label>
                            <label class="input">
                                <input type="text" user-tags="tags.userSelectedTags" id="tags" token-input data-url="/api/Tags/Search" data-query-param="name" data-min-chars="2" data-max-chars="30" data-hint-text="Start typing tag name and select" data-can-add-new-tokens="true">
                                <b class="tooltip tooltip-top-right">Add at least 2 tags to your project - type of project, keywords, etc.</b>
                            </label>
                        </section>

                        <section>
                            <label class="label">Repository URL *</label>
                            <label class="input">
                                <i class="icon-append fa fa-question-circle"></i>
                                <input type="text" ng-model="project.repositoryUrl">
                                <b class="tooltip tooltip-top-right">Source control repository where your project is commited</b>
                            </label>
                        </section>

                        <section>
                            <label class="label">Live Demo URL</label>
                            <label class="input">
                                <i class="icon-append fa fa-question-circle"></i>
                                <input type="text" ng-model="project.liveDemoUrl">
                                <b class="tooltip tooltip-top-right">Optional live demo of your deployed project</b>
                            </label>
                        </section>

                        <section>
                            <label class="label">Embed Video URL</label>
                            <label class="input">
                                <i class="icon-append fa fa-question-circle"></i>
                                <input type="text" ng-model="project.videoEmbedSource">
                                <b class="tooltip tooltip-top-right">Optional video presentation of your project</b>
                            </label>
                        </section>

                        <section>
                            <label class="label">Downloadable files</label>
                            <label for="file" class="input input-file">
                                <div class="button"><input type="file" id="optional-files" file-upload ng-model="project.files" data-validation-regex="^([a-zA-Z\s])+(.pptx|.ppt|.pdf|.txt|.doc|.docx|.zip|.rar|.7z)$" data-regex-error-message="File name should contain only English letters and spaces." data-max-files="5" data-max-file-size="10485760" multiple="multiple">Browse</div><input type="text" readonly="readonly">
                                <b class="tooltip tooltip-top-right">Optional additional documentation, presentations, etc.</b>
                            </label>
                            <div class="note hidden-sm"><strong>Hint:</strong> hold down the ctrl/cmd button to select multiple files</div>
                        </section>

                        <section>
                            <label class="label">Images *</label>
                            <label for="file" class="input input-file">
                                <div class="button"><input type="file" id="file" file-upload ng-model="project.images" data-validation-regex="^([a-zA-Z0-9\s_\\.\-:])+(.jpg|.jpeg|.gif|.png|.bmp)$" data-min-files="3" data-max-files="10" data-min-file-size="30720" data-max-file-size="10485760" data-loading-bar="image-loading" multiple="multiple" accept="image/*">Browse</div><input type="text" readonly="readonly">
                                <b class="tooltip tooltip-top-right">Select at least 3 images for your project</b>
                            </label>
                            <div class="note hidden-sm"><strong>Hint:</strong> hold down the ctrl/cmd button to select multiple files</div>
                        </section>

                        <div class="text-center display-none" id="image-loading">
                            <i class="fa fa-spin fa-spinner font-size-2em"></i> <span class="font-size-2em">Adding images...</span>
                        </div>

                        <div uploaded-images-container id="image-preview-container" images="project.images" main-image="project.mainImage" class="text-center" />

                        <footer>
                            <button class="button" ng-disabled="vm.disabledSubmit || !project || !tags" ng-click="vm.submitProject(project, tags)">Submit</button>
                            <button type="button" class="button button-secondary pull-left" onclick="window.history.back();">Back</button>
                        </footer>
                    </fieldset>

                </form>
            </div>
        </div>
    </div>
</section>