<div ng-show="projects.length > 0">
    <span class="pull-right">
        <span class="margin-right-15">Sort By:</span>
        <button ng-click="sortByDate(undefined, $event)" class="btn btn-default margin-right-5"><i class="fa fa-long-arrow-down margin-right-5"></i>Date</button>
        <button ng-click="sortByVisits(undefined, $event)" class="btn btn-default margin-right-5"><i class="margin-right-5"></i>Visits</button>
        <button ng-click="sortByComments(undefined, $event)" class="btn btn-default margin-right-5"><i class="margin-right-5"></i>Comments</button>
    </span>
    <div class="clearfix"></div>
    <div class="row margin-bottom-30 margin-top-30" ng-repeat="project in projects | orderBy : orderBy | limitTo:PROJECTS_PER_PAGE:currentIndex">
        <div class="col-md-3 text-center padding-left-5 padding-right-5">
            <a href="/projects/{{project.id}}/{{project.titleUrl}}">
                <img ng-src="/Images/{{project.mainImageUrl}}_tmbl.jpg" width="180" height="180" alt="{{project.title}}" />
            </a><br />
            <div class="margin-top-5">
                <i class="fa fa-eye margin-right-5"></i><span class="margin-right-10">{{project.visits}}</span>
                <i class="fa fa-thumbs-up margin-right-5"></i><span class="margin-right-10">{{project.likes}}</span>
                <i class="fa fa-comments margin-right-5"></i><span class="margin-right-10">{{project.comments}}</span><br />
                <label class="label label-danger" ng-show="project.isHidden">HIDDEN PROJECT</label>
            </div>
        </div>
        <div class="col-md-9 padding-left-5">
            <h4 class="margin-bottom-0"><a href="/projects/{{project.id}}/{{project.titleUrl}}">{{project.title}}</a></h4>
            <span class="font-size-085em">
                <i class="fa fa-clock-o margin-right-5"></i><span class="margin-right-10 font-size-085em">{{project.shortDate}}</span> |
                <i class="fa fa-code margin-right-5 margin-left-10"></i><a href="{{project.repositoryUrl}}" target="_blank" class="margin-right-10">repository</a>
                <span ng-show="project.liveDemoUrl.length > 0"> |<i class="fa fa-external-link-square margin-right-5 margin-left-10"></i><a href="{{project.liveDemoUrl}}" target="_blank">live demo</a></span>
            </span>
            <br />
            <p class="margin-bottom-15 break-word">
                {{project.shortDescription}}
            </p>
            <div class="margin-bottom-10">
                <span ng-repeat="collaborator in project.collaborators" class="font-size-09em display-inline-block">
                    <a href="/users/{{collaborator.userName}}" class="margin-bottom-2 margin-right-10"><img width="24" height="24" class="margin-right-5 img-thumbnail" ng-src="{{collaborator.avatarUrl}}" />{{collaborator.userName}}</a>
                </span>
            </div>
            <div class="margin-top-0 font-size-09em">
                <a href="projects/search?tag={{tag.id}}" ng-repeat="tag in project.tags">
                    <span class="label label-default capital-name" style="background-color: #{{tag.backgroundColor}}; color: #{{tag.foregroundColor}}">{{tag.name}}</span>
                </a>
            </div>
        </div>
    </div>

    <div ng-pager total-pages="{{totalPages}}" current-page="{{currentPage}}" page-changed="changePage(pageNum)" ng-hide="vm.filterOptions.scrolling || vm.loading" />
</div>
<div ng-hide="projects.length > 0" class="text-center margin-bottom-30 margin-top-30">
    <span class="italic">The user has no projects yet</span>
</div>