<span class="pull-right">
    <span class="margin-right-15">Sort By:</span>
    <button ng-click="sortByDate(undefined, $event)" class="btn btn-default margin-right-5"><i class="fa fa-long-arrow-down margin-right-5"></i>Date</button>
    <button ng-click="sortByVisits(undefined, $event)" class="btn btn-default margin-right-5"><i class="margin-right-5"></i>Visits</button>
    <button ng-click="sortByComments(undefined, $event)" class="btn btn-default margin-right-5"><i class="margin-right-5"></i>Comments</button>
</span>
<div class="clearfix"></div>
<div class="row margin-bottom-30 margin-top-30" ng-repeat="project in projects | orderBy : orderBy">
    <div class="col-md-3 text-center" style="padding-left: 5px !important; padding-right: 5px !important;">
        <a href="/projects/{{project.id}}/{{project.titleUrl}}">
            <img src="{{project.mainImageUrl}}" width="180" height="180" alt="{{project.name}}" />
        </a><br />
        <div class="margin-top-5">
            <i class="fa fa-eye margin-right-5"></i><span class="margin-right-10">{{project.visits}}</span>
            <i class="fa fa-thumbs-up margin-right-5"></i><span class="margin-right-10">{{project.likes}}</span>
            <i class="fa fa-comments margin-right-5"></i><span class="margin-right-10">{{project.comments}}</span>
        </div>
    </div>
    <div class="col-md-9" style="padding-left: 5px !important;">
        <h4 class="margin-bottom-0"><a href="/projects/{{project.id}}/{{project.titleUrl}}">{{project.name}}</a></h4>
        <span class="font-size-085em">
            <i class="fa fa-clock-o margin-right-5"></i><span class="margin-right-10 font-size-085em">{{project.shortDate}}</span> |
            <i class="fa fa-code margin-right-5 margin-left-10"></i><a href="{{project.repositoryUrl}}" target="_blank" class="margin-right-10">repository</a> |
            <i class="fa fa-external-link-square margin-right-5 margin-left-10"></i><a href="{{project.liveDemoUrl}}" target="_blank">live demo</a>
        </span>
        <br />
        <p class="margin-bottom-15">
            {{project.shortDescription}}
        </p>
        <span ng-repeat="collaborator in project.collaborators" class="font-size-09em">
            <a href="/users/{{collaborator}}" class="margin-bottom-2 margin-right-5">{{collaborator}}</a>
        </span>
        <div class="margin-top-0 font-size-09em">
            <a href="#" ng-repeat="tag in project.tags">
                <span class="label label-default" style="background-color: {{tag.backgroundColor}}; color: {{tag.foregroundColor}}">{{tag.name}}</span>
            </a>
        </div>
    </div>
</div>