<!-- class="sticky" for sticky menu -->
<header id="topBar">
    <div class="container">
        <div class="pull-left fsize13 hide_mobile">
            <div class="block text-right">
                <a href="https://www.facebook.com/TelerikAcademy?fref=ts" class="social fa fa-facebook" target="_blank"></a>
                <a href="https://www.youtube.com/user/telerikacademy" class="social fa fa-youtube-play" target="_blank"></a>
                <a href="https://plus.google.com/+telerikacademy/posts" class="social fa fa-google-plus" target="_blank"></a>
                <a href="https://www.flickr.com/photos/telerik-academy/sets/" class="social fa fa-flickr" target="_blank"></a>
                <a href="https://github.com/TelerikAcademy/ShowcaseSystem" class="social fa fa-github" target="_blank"></a>
            </div>
        </div>
        <div id="barMain">
            <nav class="nav-second">
                <ul class="nav nav-pills nav-second">
                    <li ng-if="!vm.currentUser"><a id="open-login-btn" data-toggle="modal" data-target="#login-modal"><i class="fa fa-angle-right"></i> Login</a></li>
                    <li ng-if="vm.currentUser"><a href="/users/{{vm.currentUser.userName}}"><img width="20" height="20" class="margin-right-5 img-rounded" ng-src="{{vm.currentUser.avatarUrl}}" /> {{vm.currentUser.userName}}</a></li>
                    <li ng-if="vm.currentUser"><a ng-click="vm.logout()"><i class="fa fa-angle-right"></i> Logout</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>
<header id="topNav">
    <div class="container">
        <a class="logo" href="/">
            <!--<img src="/content/images/telerik-logo.png" width="50" height="50" alt="" class="margin-right-5 logo-image"/>-->
            <div class="logo-text-container">
                <img src="/Content/images/telerik-academy-logo.png" width="150" class="margin-top-5" />
            </div>
        </a>
        <button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
            <i class="fa fa-bars"></i>
        </button>
        <form class="search" method="get">
            <input type="text" class="form-control" ng-model="vm.searchTerm" name="s" value="" placeholder="Search">
            <button class="fa fa-search" ng-click="vm.search(vm.searchTerm)"></button>
        </form>
        <div main-menu></div>
    </div>
</header>