.toast-top-center {
    margin-top: 50px;
    text-align: center;
}

.statistics .boxed {
    margin: 40px 0;
}

#loading-bar .bar {
    background: #8ab933;
}

#loading-bar .peg {
    -moz-box-shadow: #8ab933 1px 0 6px 1px;
    -ms-box-shadow: #8ab933 1px 0 6px 1px;
    -webkit-box-shadow: #8ab933 1px 0 6px 1px;
    box-shadow: #8ab933 1px 0 6px 1px;
}

#loading-bar-spinner .spinner-icon {
    width: 24px;
    height: 24px;
    border-top-color: #8ab933;
    border-left-color: #8ab933;
}

.modal-title a {
    color: white;
}

.modal-footer button {
    margin: 0;
    margin-right: 10px;
}

.modal-footer button:hover {
    margin: 0;
}

.modal-body input {
    margin-top: 10px;
}

.modal-body .col-md-6:first-child {
    padding-left: 0;
}

.modal-body .col-md-6:last-child {
    padding-right: 0;
}