html {
    overflow-y: scroll;
}

a:focus, a:hover {
    color: #8ab933;
}

.toast-top-center {
    margin-top: 150px;
    text-align: center;
}

.toast-success {
    background-color: #8ab933;
}

.toast .toast-close-button {
    top: auto;
}

.statistics .boxed {
    margin: 40px 0;
}

#loading-bar .bar {
    background: #8ab933;
}

#loading-bar .peg {
    -moz-box-shadow: #8ab933 1px 0 6px 1px;
    -ms-box-shadow: #8ab933 1px 0 6px 1px;
    -webkit-box-shadow: #8ab933 1px 0 6px 1px;
    box-shadow: #8ab933 1px 0 6px 1px;
}

#loading-bar-spinner .spinner-icon {
    width: 24px;
    height: 24px;
    border-top-color: #8ab933;
    border-left-color: #8ab933;
}

.modal-title a {
    color: white;
}

.modal-footer button {
    margin: 0;
    margin-right: 10px;
}

    .modal-footer button:hover {
        margin: 0;
    }

.modal-body input {
    margin-top: 10px;
}

.modal-body .col-md-6:first-child {
    padding-left: 0;
}

.modal-body .col-md-6:last-child {
    padding-right: 0;
}

a.social.fa-youtube-play:hover {
    background: red !important;
    color: #fff !important;
}

a.social.fa-github:hover {
    background: gray !important;
    color: #fff !important;
}

::-webkit-scrollbar {
    width: 8px; /* for vertical scrollbars */
    height: 8px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.5);
}

.margin-left-10 {
    margin-left: 10px;
}

.margin-right-2 {
    margin-right: 2px;
}

.margin-right-5 {
    margin-right: 5px;
}

.margin-right-10 {
    margin-right: 10px;
}

.margin-right-15 {
    margin-right: 15px;
}

.margin-right-20 {
    margin-right: 20px;
}

.margin-right-30 {
    margin-right: 30px;
}

.margin-right-40 {
    margin-right: 40px;
}

.margin-right-50 {
    margin-right: 50px;
}

.margin-right-60 {
    margin-right: 60px;
}

.margin-bottom-0 {
    margin-bottom: 0;
}

.margin-bottom-2 {
    margin-bottom: 2px;
}

.margin-bottom-5 {
    margin-bottom: 5px;
}

.margin-bottom-10 {
    margin-bottom: 10px !important;
}

.margin-bottom-15 {
    margin-bottom: 15px;
}

.margin-bottom-20 {
    margin-bottom: 20px !important;
}

.margin-bottom-30 {
    margin-bottom: 30px;
}

.margin-bottom-50 {
    margin-bottom: 50px;
}

.margin-bottom-100 {
    margin-bottom: 100px;
}

.margin-top-0 {
    margin-top: 0;
}

.margin-top-2 {
    margin-top: 2px;
}

.margin-top-5 {
    margin-top: 5px;
}

.margin-top-10 {
    margin-top: 10px !important;
}

.margin-top-15 {
    margin-top: 15px;
}

.margin-top-20 {
    margin-top: 20px !important;
}

.margin-top-30 {
    margin-top: 30px;
}

.margin-top-40 {
    margin-top: 40px;
}

.margin-top-50 {
    margin-top: 50px;
}

.margin-top-70 {
    margin-top: 70px;
}

.margin-top-100 {
    margin-top: 100px;
}

.padding-left-10 {
    padding-left: 10px;
}

.padding-right-10 {
    padding-right: 10px;
}

.padding-top-30 {
    padding-top: 30px;
}

.font-size-075em {
    font-size: 0.75em;
}

.font-size-085em {
    font-size: 0.85em;
}

.font-size-09em {
    font-size: 0.9em;
}

.font-size-13em {
    font-size: 1.3em;
}

.font-size-14em {
    font-size: 1.4em;
}

.font-size-2em {
    font-size: 2em;
}

.font-size-3em {
    font-size: 3em;
}

.logo-text-container {
    display: inline-block;
    color: #828282;
}

.logo-image {
    vertical-align: top;
}

.no-pointer-events {
    pointer-events: none;
}

.logo:hover, #topBar a, #topNav a {
    text-decoration: none;
}

.btn-success {
    background-color: #8ab933 !important;
}

.color999 {
    color: #999;
}

.sky-form footer {
    margin: 0;
}

    .sky-form footer .button {
        margin-left: 0;
    }

ul.token-input-list-showcase {
    width: 100%;
    border-width: 2px;
    border-color: #e5e5e5;
}

    ul.token-input-list-showcase:hover {
        border-color: #c6c6c6 !important;
    }

    ul.token-input-list-showcase.focused {
        border-color: #c6c6c6 !important;
    }

    ul.token-input-list-showcase [id^="token-input"] {
        border: none !important;
    }

div.token-input-dropdown-showcase ul li.token-input-selected-dropdown-item-showcase {
    background-color: #8ab933;
}

li.token-input-token-showcase {
    background-color: #b5e124;
    border: 1px solid #a7d01d;
    margin-top: 8px;
    margin-left: 5px;
}

li.token-input-selected-token-showcase {
    background-color: #8ab933;
    border: 1px solid #8ab933;
    color: #fff;
}

li.token-input-token-showcase span {
    color: black;
}

li.token-input-selected-token-showcase span {
    color: white;
}

.input-file .button:hover {
    cursor: pointer;
}

#image-preview-container {
    margin-bottom: 25px;
}

    #image-preview-container .label {
        text-align: center !important;
    }

    #image-preview-container .image-holder {
        height: 180px;
        width: 23%;
        display: inline-block;
        margin: 0 5px;
    }

        #image-preview-container .image-holder .preview-image {
            width: 100%;
            height: 100%;
            border: 5px solid white;
        }

            #image-preview-container .image-holder .preview-image:hover {
                border: 5px solid #8ab933;
                cursor: pointer;
            }

            #image-preview-container .image-holder .preview-image.image-selected {
                border: 5px solid #8ab933;
            }

.text-success {
    color: #8ab933 !important;
}

.owl-carousel.featured .owl-featured-item {
    width: 100%;
    background-color: white;
}

.owl-carousel.featured .owl-featured-item:hover {
    background-color: white;
}

.owl-carousel.featured .owl-item {
    padding: 0 2px;
    background-color: white;
}

.owl-carousel.featured .owl-item:first-of-type {
    padding-left: 0;
}

.owl-carousel.featured .owl-item:last-of-type {
    padding-right: 0;
}

.owl-carousel.featured .owl-featured-item a.figure>img {
    height: 130px !important;
}

.color666 {
    color: #666;
}

.date-picker .btn-default {
  box-shadow: none;
  border-radius: 3px !important;
}

.date-picker .btn {
    margin-bottom: 0 !important;
}

.date-picker .btn.pull-right.btn-default {
    margin-left: 0 !important;
    width: 36px !important;
}

.date-picker button.active {
    color: #444 !important;
    font-weight: bold;
    background-color: #DDD;
}

.date-picker ul {
    padding: 15px;
}

.date-picker .btn.pull-right.btn-success {
    margin-right: -8px !important;
}

.date-picker .btn-group.pull-left {
    margin-left: -8px !important;
}

.date-picker button span.text-muted {
    font-weight: bold;
}

.date-picker button span.text-info {
    font-weight: bold;
}

.ls-l {
    background-color: black !important;
    border-radius: 4px;
    padding: 2px 20px !important;
    font-weight: bold !important;
    /*opacity: 0.7 !important;*/
}

.break-all {
    word-break: break-all;
}

html,
body {
	margin:0;
	padding:0;
	height:100%;
}

#wrapper {
	min-height:100%;
	position:relative;
}

#content {
	padding-bottom:61px; /* Height of the footer element */
}

#footer {
	width:100%;
	height:61px;
	position:absolute;
	bottom:0;
	left:0;
}